<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.0.0.min.js"></script>
    <script src="~/Scripts/jquery.signalR-1.1.1.min.js"></script>
    @RenderSection("Scripts", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
