@{
    ViewBag.Title = "Echo";
}

@section Scripts
{
    <script>
        $(function() {
            var connection = $.hubConnection();
            
            var echo = connection.createHubProxy("echo");

            echo.on("Receive", function(text) {
                $("#message").append("<li>" + text + "</li>");
            });

            $("#send").click(function() {
                echo.invoke("Send");
            });
            
            connection.start(function () {
                $("#send").prop("disabled", false);
            });
        })
    </script>
}

<h2>Echo</h2>

<input type="button" id="send" value="send" disabled="disabled" />

<ul id="message"></ul>